{% extends 'default.html.twig' %}

{% block title %}Edit Recept{% endblock %}

{% block content %}
    <h1>Edit Recept</h1>

    {{ include('recept/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('recept_index') }}"><button class="btn btn-outline-primary">Back</button></a>

    {{ include('recept/_delete_form.html.twig') }}
{% endblock %}
