{% extends 'default.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block content %}
    <h1>Create new Patient</h1>

    {{ include('patient/_form.html.twig') }}

    <a href="{{ path('patient_index') }}"><button class="btn btn-outline-primary">Back</button></a>
{% endblock %}
