{% extends 'default.html.twig' %}

{% block title %}Edit Arts{% endblock %}

{% block content %}
    <h1>Edit Arts</h1>

    {{ include('arts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('arts_index') }}"><button class="btn btn-outline-primary">Back</button></a>

    {{ include('arts/_delete_form.html.twig') }}
{% endblock %}
