{% extends 'default.html.twig' %}

{% block title %}Welkom!{% endblock %}

{% block content %}
    <div class="text-center border">
        <h1>Test fase</h1>
        <p>Je kan daarom voor nu inloggen met
        <hr>
        "admin1" en "123456",
        <hr>
        "medewerker1" en "123456"
        <hr>
        "arts1" en "123456".
        </p>
    </div>
{% endblock %}
