{% extends 'default.html.twig' %}

{% block title %}Edit Afdeling{% endblock %}

{% block content %}
    <h1>Edit Afdeling</h1>

    {{ include('afdeling/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('afdeling_index') }}"><button class="btn btn-outline-primary">Back</button></a>

    {{ include('afdeling/_delete_form.html.twig') }}
{% endblock %}
